body {
    background-image: url(img/FondoLibros.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'Montserrat';
}

header {
    background-color: #849484;
    padding: 20px;
    margin-bottom: 40px;
}

header h1 {
    margin: 0;
    color: #eee;
    font-size: 3rem;
    text-align: center;
    font-family: "Dancing Script";
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 1rem;
}

.about h2{
    margin: 0;
    font-size: 2.2rem;
    padding: 10px;
    text-align: left;
    color: #fff;
}

.about p {
    color: #fff;
    margin: 10px 0 0 0;
    padding: 10px;
    font-size: 1rem;
    text-align: justify;
}

.about img {
    max-width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 0 0 30px  #000;
    margin-bottom: 20px;
}

.main-content {
    max-width: 900px;
    margin: 0 auto;
}


.join_link {
    display: block;
    text-align: center;
    width: fit-content;
    margin: 20px auto;
    background-color: #849484;
    padding: 25px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    transition: background-color 0.3s ease;
}

.join_link:hover {
    background-color: #c7dfc7;
    color: #000;
}



.dudas {
    background-color: #849484;
    padding: 20px;
    margin: 20px 0 0 0;
}

.dudas h2 {
    text-align: center;
    color: #eee;
    margin: 20px 0;
    font-size: 2.5rem;
}

.dudas p {
    color: #eee;
    text-align: center;
    font-size: 1.2rem;
}

.doubt_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    margin: 40px auto;
    max-width: 300px;
    border-radius: 30px;
}

.doubt_form input, textarea, select {
    padding: 12px;
    border: none;
    border-radius: 3px;
    background-color: #c7dfc7;
    box-shadow: 0 0 5px 0 #000;
    font-size: 1rem;
}

.doubt_form textarea {
    resize: none;
}

.doubt_form label {
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.doubt_form button {
    background-color: #c7dfc7;
    width: 200px;
    color: #000;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.doubt_form button:hover {
    background-color: #ddf1dd;
}

.footer_content {
    background-color: #c7dfc7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer_content img {
    width: 90px;
    transition: transform 0.3s ease;
}

.footer_content img:hover {
    transform: scale(1.1);
}


/* About responsive */
@media (max-width: 768px)  {

    header h1{
        font-size: 2.6rem;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about img {
        width: 100%;
    }

    .about h2 {
        font-size: 1.6rem;
    }

    .doubt_form {
        max-width: 500px;
    }
}